body {
    background-color: #EEEFFF;
    margin-top: 70px;
    font-size: medium;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
.ballet-body {
    padding: 30px;
}
.departments{
    text-align:  center;
    padding: 40px;
}
h1{
    text-align:  center;
}
.centerText{
    padding: 30px;
    text-align: center;
}
.department{
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: rgba(1,0,1,0.33);
    border-radius: 10px;

}
.left1{
    position: relative;
    left:10px;
    padding-top: 40px;
    margin-right: 600px;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: #444444;
    /*margin-bottom: 20px;*/
}
.navbar-inverse .navbar-nav>li>a {
    color: papayawhip;
    /*margin-bottom: 20px;*/
    font-weight: 600; /* Жирное начертание */
}
.name{
    font-weight: 600; /* Жирное начертание */
}
.ballet-form > .row {
    margin: 20px 0px;
}


.header {
    font-size: 30px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    /*font-style: italic;*/
    padding: 20px;
    color: dimgrey;
    /*text-shadow: 1px 1px 5px #000;*/

}

.main {
    background: rgba(86, 85, 90, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-left: 170px;
    margin-right: 170px;
    font-size: 16px;
}

.container {
    margin: 30px auto;
    width: 900px;
    height: 600px;
}

.footer {
    height: 50px;

}

input[type='reset'], input[type='submit'] {
    background-color: rgba(33,33,33,0.7);
    border: none;
    color: #fff;
    height: 35px;
    line-height: 34px;
    padding: 0 20px;
    margin-right: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

input[type='reset']:hover, input[type='submit']:hover {
    background-color: rgba(33,33,33,1);
    box-shadow: 0 0 3px #fff;
}

.reqiured {
    color: #ff1919;
    font-weight: bold;
}

.info {
    padding: 10px;
    border: 1px dotted #fff;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
}